@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yazarlar</h2>

@foreach (var author in Model)
        {
            <div class="col">
                <p style="display: none;">@author.Id</p>
                <a href="">@author.Name</a>
                <p>@author.Books</p>
            </div>            
        }

